@charset "UTF-8";
.page-container {
  max-width: 1024px;
  margin: auto;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-size: 1em;
  font-weight: 100;
}

a {
  text-decoration: none;
  cursor: pointer;
}

ul {
  list-style-type: none;
}

/* Couleurs */
/* Paddings */
/* Valeur d'éclaircissement des couleurs */
/* mixin */
/* Foncer la couleur des label "nouveau" pour les restaurants */
/* Survol des boutons */
/* Survol des boutons de fonctionnement */
header {
  margin-bottom: 6px;
  padding: 10px;
  box-shadow: 0 3px 10px #a6a6a6;
  display: flex;
}
header figure {
  width: 50%;
  height: 50%;
  margin: auto;
}
header figure img {
  width: 100%;
  height: 100%;
  object-fit: fill;
}
header .header__retour-index a i {
  font-size: 1.5em;
}

/* Smartphone */
@media all and (max-width: 768px) {
  header {
    box-shadow: none;
    margin-bottom: 0;
  }
}
footer {
  padding: 20px 0 20px 20px;
  border-radius: 15px 15px 0 0;
  background-color: #404040;
  font-weight: 500;
  color: white;
}
footer h3 {
  font-family: "Shrikhand", sans-serif;
}
footer ul {
  margin-top: 20px;
}
footer ul li {
  display: flex;
}
footer ul li .footer__picto-contact {
  margin-right: 5px;
}
footer ul li .fa-hands-helping {
  font-size: small;
}
footer ul li .footer__picto-contact-mains {
  margin-right: 3px;
}
footer ul li a {
  font-weight: 500;
  color: white;
}

@media all and (max-width: 768px) {
  footer {
    border-radius: 0;
  }
}
.accueil {
  animation: contenudusite 3s;
}

/* Refactorisation */
.presentation-site__intro p, .fonctionnement-site__nom-section, h1 {
  font-size: 1.2em;
  font-weight: 500;
}

h2 {
  font-weight: 500;
  color: black;
}

header {
  border-radius: 0 0 15px 15px;
}

.intro-site {
  width: 100%;
}
.intro-site .presentation-site {
  width: 95%;
  margin: auto;
  padding-bottom: 45px;
  background-color: #f2f2f2;
  text-align: center;
  color: black;
  /* Bouton explorer */
}
.intro-site .presentation-site form {
  padding: 10px;
  background-color: #e6e6e6;
  display: flex;
  justify-content: center;
}
.intro-site .presentation-site form button {
  margin-right: 10px;
  background-color: #e6e6e6;
  border: none;
}
.intro-site .presentation-site form input {
  background-color: #e6e6e6;
  border: none;
  width: 125px;
  font-weight: 500;
}
.intro-site .presentation-site p {
  color: #4d4d4d;
}
.intro-site .presentation-site .presentation-site__intro {
  margin: 25px 0 15px 0;
}
.intro-site .presentation-site .presentation-site__btn-ancre-restau {
  width: 200px;
  background: linear-gradient(to bottom, #ff79da, #9356dc);
  box-shadow: 0 0 10px #a6a6a6;
  margin: 20px auto 0 auto;
  padding: 10px 30px;
  border: none;
  border-radius: 25px;
}
.intro-site .presentation-site .presentation-site__btn-ancre-restau a {
  color: white;
  font-weight: 500;
}
.intro-site .presentation-site .presentation-site__btn-ancre-restau:hover {
  background: linear-gradient(to bottom, #ff93e1, #a16be0);
  box-shadow: 0 0 10px #404040;
}

/* Partie fonctionnement du site */
.fonctionnement-site {
  padding: 0 20px 0 20px;
  padding: 20px;
  box-shadow: 0 0 10px #a6a6a6;
  border-radius: 15px;
}
.fonctionnement-site .fonctionnement-container {
  display: flex;
}
.fonctionnement-site .fonctionnement-container .etape-commande {
  width: 30%;
  height: 3em;
  margin: 15px auto;
  border-radius: 15px;
  background-color: #f2f2f2;
  box-shadow: 0px 0px 10px #a6a6a6;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.fonctionnement-site .fonctionnement-container .etape-commande:hover {
  background-color: #f2eafb;
  cursor: pointer;
}
.fonctionnement-site .fonctionnement-container .etape-commande:hover .picto-etape {
  background: #9356dc;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
.fonctionnement-site .fonctionnement-container .etape-commande .num-etape {
  width: 1.2em;
  height: 1.2em;
  margin-left: -10px;
  background-color: #9356dc;
  border-radius: 50px;
  text-align: center;
}
.fonctionnement-site .fonctionnement-container .etape-commande .num-etape p {
  color: white;
  font-weight: 500;
}
.fonctionnement-site .fonctionnement-container .etape-commande .picto-etape {
  margin: 0 15px;
}
.fonctionnement-site .fonctionnement-container .etape-commande p {
  font-weight: 500;
  color: black;
}

/* Section liste restaurants */
.liste-restaurants {
  padding: 0 20px 0 20px;
  padding-top: 35px;
  padding-bottom: 35px;
  margin: 35px 0 35px 0;
  border-radius: 15px;
  background-color: #f2f2f2;
  box-shadow: 0 0 10px #a6a6a6;
}
.liste-restaurants .vignettes-restaurants-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
.liste-restaurants figure {
  width: 45%;
  margin-top: 15px;
  border-radius: 15px;
  background-color: white;
  position: relative;
}
.liste-restaurants figure .nouveau-restaurant {
  width: 4.3em;
  height: 1.2em;
  text-align: center;
  background-color: #99e2d0;
  border-radius: 2px;
  position: absolute;
  top: 5px;
  right: 15px;
  color: #1b6150;
  font-size: 0.8em;
  font-weight: 500;
}
.liste-restaurants figure .info-restaurant__photo {
  width: 100%;
  height: 10em;
  margin: 0;
  object-fit: cover;
  border-radius: 15px 15px 0 0;
}
.liste-restaurants figure figcaption {
  padding: 15px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Smartphone */
@media all and (max-width: 768px) {
  /* Partie présentation du site */
  header {
    border-radius: 0;
  }

  .main-index {
    display: block;
    /* Partie fonctionnement du site */
    /* Section liste restaurants */
  }
  .main-index section .presentation-site {
    width: 100%;
    margin-bottom: 35px;
  }
  .main-index .fonctionnement-site {
    padding-top: 0;
    padding-bottom: 0;
    box-shadow: none;
    border-radius: 0;
  }
  .main-index .fonctionnement-site .fonctionnement-container {
    margin: 20px 0 35px 0;
    display: block;
  }
  .main-index .fonctionnement-site .fonctionnement-container .etape-commande {
    width: 100%;
  }
  .main-index .liste-restaurants {
    margin-top: 0;
    margin-bottom: 0;
    border-radius: 0;
  }
  .main-index .liste-restaurants .vignettes-restaurants-container {
    display: block;
  }
  .main-index .liste-restaurants figure {
    width: 100%;
  }
}
.nom-resto__restaurant {
  font-family: "Shrikhand", sans-serif;
  font-size: 1.5em;
}

h3, p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Main */
main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
main figure {
  width: 100%;
  margin-top: 20px;
  border-radius: 15px;
  margin: auto;
}
main figure img {
  width: 100%;
  height: 250px;
  margin-top: 20px;
  object-fit: cover;
  border-radius: 15px;
}

h1 {
  font-size: 2em;
}

.article-menu {
  width: 100%;
  margin-top: 20px;
  background-color: #f2f2f2;
  border-radius: 15px;
  box-shadow: 0 0 10px #a6a6a6;
}
.article-menu .nom-resto {
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.article-menu .nom-resto .div__coeur .coeur-like--plein {
  display: none;
}
.article-menu section {
  padding: 15px;
  margin-top: 10px;
  margin-bottom: 20px;
}
.article-menu section .underline-titre {
  width: 40px;
  margin-bottom: 10px;
  border-top: 2px solid #99e2d0;
}
.article-menu section .block-menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
.article-menu section .block-menu .menu {
  width: 30%;
  height: 40px;
  margin-top: 10px;
  padding: 10px 0;
  border-radius: 15px;
  background-color: white;
  display: flex;
  align-items: center;
  overflow: hidden;
  cursor: pointer;
  animation: translationX 2s;
}
.article-menu section .block-menu .menu .desc-plat {
  width: 95%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin: 0 10px;
}
.article-menu section .block-menu .menu .desc-plat h3 {
  font-weight: 500;
}
.article-menu section .block-menu .menu .desc-plat__tarif {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin: 0 15px 0 0;
}
.article-menu section .block-menu .menu .commande {
  width: 60px;
  height: 60px;
  background-color: #99e2d0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0 15px 15px 0;
  margin-right: -60px;
  transition: margin 500ms;
}
.article-menu section .block-menu .menu .commande .fa-check-circle {
  color: white;
  background-clip: text;
  transform: rotate(-180deg);
  transition: transform 500ms;
}
.article-menu section .block-menu .menu:hover .desc-plat__tarif {
  margin: 0 15px 0 0;
  transition: margin 1s;
}
.article-menu section .block-menu .menu:hover .commande {
  margin-right: 0;
}
.article-menu section .block-menu .menu:hover .coche-check {
  transform: rotate(0deg);
  transition: transform 1s;
}

/* Smartphone */
@media all and (max-width: 768px) {
  .main-restaurant figure {
    width: 100%;
    border-radius: 0;
  }
  .main-restaurant figure img {
    margin-top: 0;
    border-radius: 0;
  }
  .main-restaurant .article-menu {
    margin-top: -60px;
    padding: 30px 0 0 0;
    box-shadow: none;
    border-radius: 15px 15px 0 0;
  }
  .main-restaurant .article-menu .nom-resto {
    padding: 0 10px 0 10px;
  }
  .main-restaurant .article-menu section {
    margin-top: 30px;
    padding: 0 10px 0 10px;
  }
  .main-restaurant .article-menu section .block-menu {
    display: block;
  }
  .main-restaurant .article-menu section .block-menu .menu {
    width: auto;
    box-shadow: 0 0 10px #a6a6a6;
    animation: translationY 2s;
  }
  .main-restaurant .article-menu section .block-menu .menu:hover .desc-plat__tarif {
    margin: 0 15px 0 0;
    transition: margin 1s;
  }
  .main-restaurant .article-menu section .block-menu .menu:hover .commande {
    margin-right: 0;
  }
  .main-restaurant .article-menu section .block-menu .menu:hover .fa-check-circle {
    transform: rotate(0deg);
    transition: transform 1s;
  }
  .main-restaurant .block-btn-commander {
    width: 100%;
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
  }
}
.coeur-like--plein {
  background: linear-gradient(1turn, #ff79da, #9356dc);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.btn-commander {
  background-image: linear-gradient(to bottom, #ff79da, #9356dc);
  margin: 20px 0 20px 0;
  padding: 10px 30px;
  border: none;
  border-radius: 25px;
  color: white;
  font-weight: 500;
}
.btn-commander:hover {
  background: linear-gradient(to bottom, #ff93e1, #a16be0);
  box-shadow: 0 0 10px #404040;
  cursor: pointer;
}

.spin {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: solid 5px white;
  background: linear-gradient(#9356dc, #ff79da, #99e2d0);
  content: "";
  animation: 2500ms linear 1 spinner forwards;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  will-change: transform;
}

.spin::before {
  width: 80%;
  height: 80%;
  border-radius: 50%;
  border: transparent 85px;
  background: white;
  content: "";
  animation: 2500ms linear 1 spinner forwards;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  will-change: transform;
}

.coeur-like--vide-blanc {
  position: relative;
  left: 1.2em;
  background-color: white;
  opacity: 1;
  transition: opacity 500ms;
}
.coeur-like--vide-blanc:hover {
  opacity: 0;
  cursor: pointer;
}

.coeur-like--vide-gris-clair {
  position: relative;
  left: 1.2em;
  background-color: #f2f2f2;
  opacity: 1;
  transition: opacity 500ms;
}
.coeur-like--vide-gris-clair:hover {
  opacity: 0;
  cursor: pointer;
}

@keyframes translationX {
  0% {
    opacity: 0;
    transform: translateX(10%);
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}
@keyframes translationY {
  0% {
    opacity: 0;
    transform: translateY(15%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
@keyframes spinner {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
    visibility: hidden;
  }
}
@keyframes contenudusite {
  0%, 95% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/*# sourceMappingURL=style.css.map */
