/* Paramètres généraux */
* {
    margin: 0;
}
#blockPage {
    max-width: 1280px;
}
#retourAccueil{
    display: none;
}

/* Smartphone */
@media (max-width: 768px) {
    /* header */
    header {
        box-shadow: 0 3px 6px grey;
    }
    header p {
        font-family: 'Shrikhand', sans-serif;
        font-weight: bold;
        font-size: 2em;
        text-align: center;
    }

    /* main */
    .photoRestaurant {
        width: 100%;
    }

    /* footer */
    footer {
        background-color: darkgrey;
    }
    footer p {
        font-family: 'Shrikhand', sans-serif;
        font-weight: bold;
        font-size: 1em;
    }
}