/* Paramètres généraux */
* {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    font-weight: 100;
}
#blockPage {
    max-width: 1280px;
}
#retourAccueil{
    display: none;
}
h1 {
    font-family: 'Shrikhand', sans-serif;
    font-weight: bold;
}
h2 {
    margin-bottom: 20px;
    font-size: 1.3em;
    font-weight: bold;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
}

/* Smartphone */
@media (max-width: 768px) {
    /* header */
    header {
        font-size: 2em;
        text-align: center;
        box-shadow: 0 3px 6px grey;
    }

    /* main */
    /* Présentation site */
    #presentationSite {
        padding: 40px 20px; 
        background-color: #F0F0F0;
        text-align: center;
    }
    #presentationSite p {
        margin: 10px 0 20px 0;
    }
    #presentationSite div {
        width: 225px;
        height: 35px;
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #FF79DA;
        border-radius: 50px;
    }
    #presentationSite div a {
        color: white;
        font-weight: 500;
        text-align: center;
    }

    /* Fonctionnement site */
    #fonctionnementSite {
        padding: 40px 20px;
    }
    .etapeCommande {
        height: 50px;
        border-radius: 15px;
        background-color: #F0F0F0;
        margin-bottom: 15px;
        box-shadow: 3px 3px 10px lightgray;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
    .numeroEtape {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        color: white;
        font-weight: 500;
        text-align: center;
        margin-left: -10px;
        background-color: #9356DC;
    }
    .pictoEtape {
        margin: 0 20px 0 20px;
        color: grey;
    }
    .etapeCommande p {
        font-weight: 500;
    }

    /* Section restaurant */
    #listeRestaurant {
        padding: 40px 20px 0 20px;
        background-color: #F0F0F0;
    }
    .photoRestaurant {
        width: 100%;
    }

    /* footer */
    footer {
        padding: 20px;
        background-color: #464646;
        color: white;
    }
    footer h1 {
        margin-bottom: 20px;
    }
    ul {
        padding-inline-start: 0px;
    }
    .pictoLien {
        display: flex;
        justify-content: flex-start;
    }
    ul li div{
        font-size: 15px;
        margin-right: 10px;
    }
    footer a {
        color: white;
    }
}