.nom-resto__restaurant {
    font-family: 'Shrikhand', sans-serif;
    font-size: 1.5em;
}

h3, p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* Main */
main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    & figure {
        width: 100%;
        margin-top: 20px;
        border-radius: 15px;
        margin: auto;
        & img {
            width: 100%;
            height: 250px;
            margin-top: 20px;
            object-fit: cover;
            border-radius: 15px;
        }
    }
}

h1 {
    font-size: 2em;
}

.article-menu {
    width: 100%;
    margin-top: 20px;
    background-color: $couleur-gris-clair;
    border-radius: 15px;
    box-shadow: 0 0 10px $couleur-ombre;
    & .nom-resto {
        padding: 15px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        & .div__coeur .coeur-like--plein {
            display: none;
        }
    }
    & section {
        padding: 15px;
        margin-top: 10px;
        margin-bottom: 20px;
        & .underline-titre {
            width: 40px;
            margin-bottom: 10px;
            border-top: 2px solid $couleur-tertiaire;
        }
        & .block-menu {
            display: flex;
            justify-content: space-around;
            align-items: center;
            flex-wrap: wrap;
            & .menu {
                width: 30%;
                height: 40px;
                margin-top: 10px;
                padding: 10px;
                border-radius: 15px;
                background-color: white;
                display: flex;
                align-items: center;
                overflow: hidden;
                cursor: pointer;
                animation: translationX 2s;
                & .desc-plat {
                    width: 75%;
                    overflow: hidden;
                    margin-right: 10px;
                    & h3 {
                        font-weight: 500;
                    }
                }
                & .desc-plat__tarif {
                    width: 40px;
                    height: 40px;
                    display: flex;
                    justify-content: center;
                    align-items: flex-end;
                    transition: margin-right 500ms;
                }
                & .commande {
                    width: 60px;
                    height: 60px;
                    background-color: $couleur-tertiaire;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 0 15px 15px 0;
                    & .fa-check-circle {
                        color: white;
                        background-clip: text;
                        transform: rotate(-180deg);
                        transition: transform 500ms;
                    }
                }
                
                /*&:hover .desc-plat__tarif {
                    margin: 0 -75px 0 0;
                    transition: margin 1s;
                }
                &:hover .fa-check-circle {
                    transform: rotate(0deg);
                    transition: transform 0s;
                }*/
            }
        }
    }
}

/* Smartphone */
@media all and (max-width: 768px){
    .main-restaurant {
        & figure {
            width: 100%;
            border-radius: 0;
            & img {
                margin-top: 0;
                border-radius: 0;
            }
        }
        & .article-menu {
            margin-top: -60px;
            padding: 30px 0 0 0;
            box-shadow: none;
            border-radius: 15px 15px 0 0;
            & .nom-resto {
                padding: $side-paddings;
            }
            & section {
                margin-top: 30px;
                padding: $side-paddings;
                & .block-menu {
                    display: block;
                    & .menu {
                        width: auto;
                        box-shadow: 0 0 10px $couleur-ombre;
                        animation: translationY 1s;
                    }
                }
            }
        }
        & .block-btn-commander {
            width: 100%;
            background-color: $couleur-gris-clair;
            display: flex;
            justify-content: center;
        }
    }
}