header {
    padding: 10px 0 10px 20px;
    box-shadow: 0 3px 3px darkgray;
    display: flex;
    & figure {
        width: 50%;
        height: 50%;
        margin: auto;
        & img {
            width: 100%;
            height: 100%;
            object-fit: fill;
        }
    }
    & .header__retour-index a i {
        font-size: 1.5em;
    }
}